<!-- Menu toggle buttons -->
<input type="radio"
       class="menu-toggle open"
       name="menu-toggle"
       aria-label="Open menu"
       id="ta_menuOpen">
<input type="radio"
       class="menu-toggle close"
       name="menu-toggle"
       aria-label="Close menu"
			 id="ta_menuClose">
<label class="menu-toggle overlay hidden"
			 for="ta_menuClose"
			 tabindex="-1"
       aria-hidden="true"></label>

<div class="hamburger semisticky" id="ta_hamburger" hx-preserve="true" aria-hidden="true">
    <span></span>
    <span></span>
    <span></span>
</div>

<!-- Theme toggle buttons -->
<input type="radio"
       class="theme-toggle on semisticky"
       name="theme-toggle"
       aria-label="Enable dark theme"
       id="theme-toggle-on"
       hx-preserve="true">
<input type="radio"
       class="theme-toggle off semisticky"
       name="theme-toggle"
       aria-label="Enable light theme"
       id="theme-toggle-off"
       checked
       hx-preserve="true">

<div class="theme-toggle-icon-outer semisticky" aria-hidden="true">
  <div class="theme-toggle-icon-inner semisticky"></div>
</div>

<div class="margin-1-icon straykittyicon-container semisticky">
  <button class="straykittyicon" id="straykitty" aria-hidden="true" hx-preserve="true" tabindex="-1"></button>
</div>

<div class="nav-bar-container semisticky" id="ta_navbarContainer">
  <nav class="nav-bar" aria-label="Main navigation">
    {% if page.layout != "home" %}
      <a class="margin-2-icon site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% endif %}
    <div class="scroll-container">
      <span class="spacer"></span>
      <ul class="menu" id="ta_hamburgerMenu" hx-preserve="true">
        <li><a href="/about">About</a></li><li>
        <a href="/blog/">Blog</a></li><li>
        <a href="/minecraft">Minecraft</a></li><li>
        <a href="https://hachyderm.io/@xianjam" rel="noopener">Mastodon<span class="sr-only"> (external)</span></a></li><li>
        <a href="https://codeberg.org/xianjam/" rel="noopener">Codeberg<span class="sr-only"> (external)</span></a></li><li>
        <a href="https://gitlab.com/xianbaum/" rel="noopener">Gitlab<span class="sr-only"> (external)</span></a></li><li>
        <a href="https://github.com/xianbaum/" rel="noopener">Github<span class="sr-only"> (external)</span></a></li><li>
        <a href="mailto:christian@christianbaum.com">Contact</a></li><li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a></li>
      </ul>
    </div>
  </nav>
</div>
