<!-- Menu toggle buttons -->
<input type="radio"
       class="menu-toggle open"
       name="menu-toggle"
       title="Open"
       aria-hidden="true"
       tabindex="-1"
       id="ta_menuOpen">
<input type="radio"
       class="menu-toggle close"
       name="menu-toggle"
       title="Close"
       aria-hidden="true"
			 id="ta_menuClose"
       tabindex="-1">
<label class="menu-toggle overlay hidden"
			 for="ta_menuClose"
			 tabindex="-1"></label>

<div class="hamburger semisticky" id="ta_hamburger" hx-preserve="true">
    <span></span>
    <span></span>
    <span></span>
</div>

<!-- Theme toggle buttons -->
<input type="radio"
       class="theme-toggle on semisticky"
       name="theme-toggle"
       title="Toggle theme"
       aria-hidden="true"
       tabindex="-1"
       id="theme-toggle-on"
       hx-preserve="true">
<input type="radio"
       class="theme-toggle off semisticky"
       name="theme-toggle"
       title="Toggle theme"
       aria-hidden="true"
       tabindex="-1"
       id="theme-toggle-off"
       checked
       hx-preserve="true">
  
<div class="theme-toggle-icon-outer semisticky">
  <div class="theme-toggle-icon-inner semisticky"></div>
</div>

<div class="margin-1-icon straykittyicon-container semisticky">
  <button class="straykittyicon" id="straykitty" aria-hidden="true" hx-preserve="true" tabindex="-1"></button>
</div>

<div class="nav-bar-container semisticky" id="ta_navbarContainer">
  <nav class="nav-bar">
    {% if page.layout != "home" %}
      <a class="margin-2-icon site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% endif %}
    <div class="scroll-container">
      <span class="spacer"></span>
      <nav class="menu" id="ta_hamburgerMenu" hx-preserve="true">
        <ul>
          <li><a href="/about/">About</a></li><li>
          <a href="/blog/">Blog</a></li><li>
          <a href="/minecraft/">Minecraft</a></li><li>
          <a href="https://hachyderm.io/@xianjam">Mastodon</a></li><li>
          <a href="https://codeberg.org/xianjam/">Codeberg</a></li><li>
          <a href="https://gitlab.com/xianbaum/">Gitlab</a></li><li>
          <a href="https://github.com/xianbaum/">Github</a></li><li>
          <a href="mailto:christian@christianbaum.com">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
