$href-light: #55f;
$background-light: #fff;
$border-light: #f3f3f3;
$nav-link-light: #666;
$nav-link-bottom-light: #c0a;
$foreground-light: #000;

$href-dark: #ffdb10;
$background-dark: #2e2b52;
$foreground-dark: #fff;