@import 'vars';

.content-container {
    transition: transform 0.25s;
    margin: 0 auto 0 auto;
    padding-top: $nav-bar-height-plus-border;
    max-width: 1024px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.skip-link {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 0.5rem 1rem;
    z-index: 1000;

    &:focus {
        top: 0;
    }
}
