@import "vars";

.menu-toggle {
    display: none;
}

.nav-bar-container {
    top: 0;
    left: 0;
    width: 100%;
}

.nav-bar {
    height: $nav-bar-height;
    display: flex; 
    z-index: 300;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
}

.nav-bar li {
    list-style: none;
    line-height: $nav-bar-height;
    text-decoration: none;
    min-height: $nav-bar-height;
    align-items: center;
    display: flex;
}

.nav-bar li a {
    text-decoration: none;
    height: $nav-bar-height;
    display: inline-block;
    padding: 0 1rem;
}

.nav-bar li a:hover {
    border-bottom: 2px solid $nav-link-bottom-light;
}

.scroll-container {
    display: contents;
}

.nav-bar .site-title {
    padding: 8px;
    font-size: 28px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: -1px;
    text-overflow: '';
    overflow: hidden;
}

@media screen and (max-width:359px) {
    .nav-bar .site-title {
        max-width: 120px;
    }
}

@media screen and (min-width: 800px) {

    .nav-bar-container {
        position: absolute;
    }
    
    .nav-bar {
        max-width: 1024px;
        margin: 0 auto;
    }
    
    .nav-bar .menu {
        display: inline-block;
        margin-left: auto;
    }

    .nav-bar .menu li {
        display: inline-block;
    }

}

@media screen and (max-width: 799px) {
    .nav-bar-container {
        position: absolute;
        z-index: 200;
        transition: transform 0.25s;
    }

    .semisticky-scroll {
        position: fixed;
        top: -$nav-bar-height-plus-border;
    }

    .semisticky-scroll.semisticky-scroll-up {
        transform: translateY($nav-bar-height-plus-border);
        transition: transform 0.25s;
    }
    
    .nav-bar .spacer {
        order: 2;
        min-width: $nav-bar-height;
        min-height: $nav-bar-height;
        align-self: flex-end;
    }

    .nav-bar .menu {
        transition: transform 0.25s;
        z-index: 450;
    }

    .nav-bar .menu.semisticky-scroll {
        position: fixed;
    }

    .nav-bar .menu.semisticky-scroll.semisticky-scroll-up {
        transform: translateX($nav-bar-width-plus-border);
    }

    .nav-bar .menu .scroll-container {
        max-height: 100vh;
        overflow: auto;
    }

    .menu-toggle, .menu-toggle.overlay, .theme-toggle {
        position: fixed;
        opacity: 0;
        display: block;
    }

    .menu-toggle.overlay {
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
    }

    .menu-toggle.open, .menu-toggle.close {
        width: $nav-bar-height-plus-border;
        height: $nav-bar-height-plus-border;
        cursor: pointer;
        top: -1px;
        right: -1px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent; 
    }

    .menu-toggle.open {
        z-index: 500;
    }

    .menu-toggle.open:checked ~ .menu-toggle.close {
        z-index: 500;
    }

    .menu-toggle.out {
        width: 100%;
        height: 100%;
    }

    .menu-toggle.open:checked ~ .menu-toggle.overlay {
        transition: opacity 0.5s;
        opacity: 0.5;
        right: 0;
        position: fixed;
        z-index: 100;
    }

    .menu-toggle.open:checked ~ .content-container{
        transform: translateX(-100px) !important;
    }

    .nav-bar .menu {
        right: 0;
        transform: translateX($nav-bar-width-plus-border);
        transition: transform 0.25s;
        position: fixed;
        width: $nav-bar-width;
        top: 0;
        height: 100vh;
        padding-top: $nav-bar-height;
        box-shadow:-4px -4px 18px -9px rgba(0,0,0,0.77);
    }

    .nav-bar ul {
        flex-direction: column;
    }
    
    .nav-bar .menu li, .nav-bar .menu li a {
        box-sizing: border-box;
        width: 100%;
    }

    .nav-bar .menu.semisticky-scroll {
        transform: translate($nav-bar-width-plus-border, -$nav-bar-height-plus-border);
    }

    .nav-bar li:hover, .nav-bar li a:hover {
        transition: 0s;
    }

    .menu-toggle.open:checked ~ .nav-bar-container .nav-bar .menu {
        transform: none;
        opacity: 100;
    }

    .menu-toggle.open:checked ~ .nav-bar-container .nav-bar
                              .menu.semisticky-scroll {
        transform: translate(0, -$nav-bar-height-plus-border);
    }

    .menu-toggle.open:checked ~ .nav-bar-container .nav-bar
                              .menu.semisticky-scroll.semisticky-scroll-up {
        transform: translateY(0);
    }
}

.margin-1-icon {
    margin-left: 50px;
}

.margin-2-icon {
    margin-left: 100px;
}
