@import "vars";

article {
    margin: auto;
    padding: 2em;
    max-width: 40em;
}

article p {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;
}

article header {
    align-self: flex-start;
}

article a, article a:visited {
    text-decoration: none;
    color: #55f;
}

article a:hover {
    text-decoration: underline;
}

article li {
    margin-left: 1.25em;
    list-style-type: disc;
    line-height: 1.5;
}

div.highlight {
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: auto;
}

article .post-meta {
    font-weight: 300;
}
