@import "vars";

article {
    margin: auto;
    padding: 2em;
    max-width: 40em;
}

article p {
    padding-top: 1em;
    line-height: 1.5em;
}

article header {
    align-self: flex-start;
}

article a, article a:visited {
    text-decoration: none;
    color: #55f;
}

article a:hover {
    text-decoration: underline;
}

article li {
    margin-left: 1.25em;
}

article ul li {
    list-style-type: disc;
}
