.straykittyicon {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QocEAUoFVdtzgAAAPNJREFUOMuNkz2OwjAQhb+J0ix90nKAvQDNFnALlJJI0KA9i0WTlaDOHbbYZptcYgta01MhDUUwiolj75MsjUd+b348I4ShA1uIIJsin/d5jKcxAc77HF1+h7LRlzuvYXQY2dnzw00BbNP7y124BE95Zle8vd+eQraBa/kzKiNP1e1Ekk0ckqdIM7tK/0IqIoBWhuNiPW7i/NCTXbOmcPn4ZIMB0Cz2sNz5HQ/ByyAVOSkAUGwVEcE2/xPMQmStTDT14tdw+uuou1YkNEiqDyHtXZcvGZEB6q6VbGrrHNllVmy9QaXuWoltmneeqIweF2tP6Q4ar2aEUWBJIQAAAABJRU5ErkJggg==) no-repeat center;
    image-rendering: pixelated;
    display: inline-block;
    transition: 0.25s ease;
    width: 32px;
    height: 32px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none !important;
}

.straykittyicon-container {
    background: linear-gradient(to bottom right, #faee22, #faee22, #ff87a6, #4400ee, #80f3e1, #80f3e1);
    border-radius: 50%;
    margin-top: 9px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0; left: 0;
    z-index: 400;
    transition: transform 0.25s;
}

.straykittyicon-container.semisticky-scroll {
    position: fixed;
    top: -$nav-bar-height-plus-border;
}

.straykittyicon:hover {
    transform: scale(1.5); 
}

