$nav-bar-width: 250px;
$nav-bar-height: 52px;
$nav-bar-border-size: 2px;
$approx-box-shadow-size: 15px;
$nav-bar-height-plus-border: $nav-bar-height + $nav-bar-border-size;
$nav-bar-width-plus-border: $nav-bar-width + $approx-box-shadow-size;
